### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*
*.eslintcache

node_modules
bower_components

*.sublime*

psd
thumb
sketch

### vscode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

### Design Files ###
*.fig
pomodoro-app-figma