.category-container {
  display: flex;
  flex-direction: row;
  height: 63px;
  justify-content: center;
  align-items: center;
  margin-bottom: 45px;
  background: #161932;
  border-radius: 31.5px;
  z-index: 30;
  width: 373px;

  p {
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    color: #D7E0FF;
    align-items: center;
    mix-blend-mode: normal;
    opacity: 0.4;
    z-index: 50;
    height: 100%;
    width: 120px;
    cursor: pointer;
    line-height: 100%;
    display: flex;
    justify-content: center;

    &.selected {
      color: #1E213F;
      opacity: 1;
    }

    &.font-Kumbh {
      font-family: 'Kumbh Sans';
      line-height: 14px;
    }

    &.font-Roboto {
      font-family: 'Roboto Slab';
    }

    &.font-Space {
      font-family: 'Space Mono';
    }

  }


  .category-selector {
    z-index: 40;
    border-radius: 26.5px;
    width: 120px;
    height: 48px;
    position: absolute;
    transition: ease-in-out 0.2s;

    &.color-orange {
      background: #F87070;
    }

    &.color-blue {
      background: #70F3F8;
    }

    &.color-purple {
      background: #D881F8;
    }

  }

  .pomodoro {
    transform: translate(-119px);
  }

  .long-break {
    transform: translate(119px);
  }
}