.settings-container {
  height: 464px;
  width: 540px;
  background: white;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  z-index: 100;
  position: absolute;
  top: 155px;

  .header {
    height: 93px;
    border-bottom: #E3E1E1 1px solid;
    display: flex;
    flex-direction: row;

    img {
      height: auto;
      margin: auto;
      margin-right: 38px;
      margin-top: 47px;
      cursor: pointer;
    }

    h2 {
      margin: auto;
      color: #161932;
      margin-left: 40px;
      margin-top: 34px;
    }
  }

  .time {
    height: 157px;
    border-bottom: #E3E1E1 1px solid;
    width: 460px;
    margin: auto;

    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 41px 36px 80px;
    grid-template-areas: 
    "title title title"
    "pom short long"
    "num1 num2 num3";

    h4 {
      color: #161932; 
      grid-area: title;
      margin-bottom: 0;
      margin-top: auto;
    }

    p {
      color: #1E213F;
      font-size: 12px;
      font-weight: bold;
      mix-blend-mode: normal;
      opacity: 0.4;

      margin-top: auto;
      margin-bottom: 0;

      &.pom {
        grid-area: pom;
      }

      &.short {
        grid-area: short;
      }

      &.long {
        grid-area: long;
      }
    }



    .pom-num {
      grid-area: num1;
    }

    .short-num {
      grid-area: num2;
    }

    .long-num {
      grid-area: num3;
    }
  }

  .font {
    height: 88px;
    border-bottom: #E3E1E1 1px solid;
    width: 460px;
    margin: auto;
    display: flex;
    flex-direction: row;

    h4 {
      color: #161932; 
      margin-top: auto;
      margin-bottom: auto;
    }

    .font-container {
      margin-left: auto;
      margin-top: auto;
      margin-bottom:auto;

      button {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border: none;
        margin-left: 16px;
        cursor: pointer;
      }

      .font-1 {
        background: #161932;
        color: white;
        font-weight: bold;
        font-size: 15px;
        vertical-align: middle;
      }

      .font-2 {
        color: #1E213F;
        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        opacity: 0.73;
      }

      .font-3 {
        color: #1E213F;
        font-family: 'Space Mono';
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        opacity: 0.73;
      }
    }
  }

  .color {
    height: 123px;
    width: 460px;
    margin: auto;
    display: flex;
    flex-direction: row;

    h4 {
      color: #161932; 
      margin-top: 40px;
      margin-bottom: auto;
    }

    .color-container {
      margin-left: auto;
      margin-top: 24px;
      margin-bottom:auto;

      button {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border: none;
        margin-left: 16px;
        cursor: pointer;
        color: transparent;
        font-family: Arial, Helvetica, sans-serif;
      }

      .color-1 {
        background: #F87070;
      }

      .color-2 {
        background: #70F3F8;
      }

      .color-3 {
        background: #D881F8;
      }

      .color-selected {
        color: #161932;
      }
    }
  }

}

.apply {
  width: 140px;
  height: 53px;
  background: #F87070;
  border-radius: 26.5px;
  border: none;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 592px;
  z-index: 200;
  color: white;
  font-weight: bold;
  font-size: 16px;
}
