@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

$lightblue: #d7e0ff;
$darkblue: #1e213f;

* {
  font-family: "Kumbh Sans", sans-serif;
  margin: 0;
}

h1 {
  color: $lightblue;
}

h3 {
  color: $lightblue;
  text-transform: uppercase;
}

.page {
  background: $darkblue;
  height: 100vh;
  min-height: 900px;
  width: 100vw;
  min-width: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;

  .logo {
    margin-top: 48px;
    margin-bottom: 55px;
  }

  .settings-icon {
    margin-top: 63px;
    cursor: pointer;
  }
}

@media only screen and (max-width: 650px) {
  .page {
    min-height: 700px;

    .logo {
      margin-top: 32px;
      margin-bottom: 45px;
    }
  }
}
